* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.about,
.video {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.video {
  /* background-image: url('/images/img-2.jpg'); */
  background-color: cyan;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
}

.services {
  background-image: url('/images/unsplash-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.policy {
  /* background-image: url('/images/unsplash-2.jpg'); */
  background: linear-gradient(90deg, #2d282e 70%, #262125 100%);
  background-position: center;
  color: #fff;
  font-size: 20px;
  
  height: 100%;
  text-align: start;
  justify-content: center;
}


.policy-text {
  margin: auto;
  width: 85%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.policy-text > h1 {
  color: #fff;
  text-align: start;
}

.policy-text > h2 {
  color: #fff;;
}


@media screen and (max-width: 960px) {
  .policy-text > h1 {
    font-size: 40px;
    text-align: start;
  }

  .policy-text > h2 {
    font-size: 25px;
  }

  .policy-text > p {
    font-size: 20px;
    font-weight: 100;
  }
}

@media screen and (max-width: 360px) {
  .policy-text > h1 {
    font-size: 30px;
    text-align: start;
  }

  .policy-text > h2 {
    font-size: 20px;
  }

  .policy-text > p {
    font-size: 15px;
    font-weight: 100;
  }
}